/* Reset des marges et paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #fff; /* Fond blanc */
}

/* Styles globaux pour les liens */
a {
    text-decoration: none;
    color: inherit;
}

/* Styles globaux pour les boutons */
button {
    cursor: pointer;
}
