/* Style de la bannière */
.banner {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../public/images/main_img.jpg') center/contain no-repeat;
    min-height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    background-color: #f5f5f5; /* Couleur de fond de secours */
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1); /* Ombre réduite */
}

.banner-content h1 {
    font-size: clamp(2rem, 5vw, 3rem);
    margin-bottom: min(20px, 5%);
}

.banner-content p {
    font-size: clamp(1.2rem, 3vw, 1.5rem);
    margin-bottom: min(30px, 6%);
}

/* Style de la section Nos Actions */
.actions {
    padding: min(50px, 10%) min(5%, 10%);
    text-align: center;
}

.actions h2 {
    font-size: clamp(2rem, 4vw, 2.5rem);
    margin-bottom: min(40px, 8%);
    color: #333;
}

.actions-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px; /* Espacement fixe pour simplifier */
    max-width: 1200px;
    margin: 0 auto;
}

/* Style de la section Nos Chiffres */
.stats {
    padding: min(50px, 10%) min(5%, 10%);
    text-align: center;
    background-color: #fffbf0;
}

.stats h2 {
    font-size: clamp(2rem, 4vw, 2.5rem);
    margin-bottom: min(40px, 8%);
    color: #333;
}

.stats-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px; /* Espacement fixe pour simplifier */
    max-width: 1000px;
    margin: 0 auto;
}

/* Style de la section Rejoignez Notre Mission */
.mission {
    display: flex;
    align-items: center;
    padding: min(50px, 10%) min(5%, 10%);
    gap: min(50px, 10%);
}

.mission-content {
    flex: 1;
}

.mission-content h2 {
    font-size: clamp(2rem, 4vw, 2.5rem);
    margin-bottom: min(20px, 4%);
    color: #333;
}

.mission-content p {
    font-size: clamp(1rem, 2vw, 1.2rem);
    margin-bottom: min(30px, 6%);
    color: #670;
}

.mission-image {
    flex: 1;
}

.mission-image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Media queries pour les pages */
@media (max-width: 768px) {
    .actions-container {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .stats-container {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .mission {
        flex-direction: column-reverse;
    }

    .mission-content,
    .mission-image {
        width: 100%;
    }
}
