<footer class="footer">
    <div class="footer-content">
        <div class="footer-logo">
            <img src="../../public/images/association_logo.png" alt="Logo de l'association">
            <p>Apportez espoir et soutien aux communautés locales à travers des initiatives éducatives et sanitaires.</p>
        </div>
        <div class="footer-links">
            <h3>Liens Rapides</h3>
            <ul>
                <li><a href="../pages/home.html">Accueil</a></li>
                <li><a href="../pages/donation.html">Faire un Don</a></li>
                <li><a href="../pages/about.html">À Propos</a></li>
                <li><a href="../pages/contact.html">Contact</a></li>
            </ul>
        </div>
        <div class="footer-contact">
            <h3>Contact</h3>
            <p>93 800 Épinay-sur-Seine, France</p>
            <p><a href="mailto:association.tuaimerastonprochain@outlook.com">association.tuaimerastonprochain@outlook.com</a></p>
        </div>
        <div class="footer-social">
            <h3>Réseaux Sociaux</h3>
            <ul>
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">TikTok</a></li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2025 Association TU AIMERAS TON PROCHAIN COMME TOI-MÊME. Tous droits réservés.</p>
    </div>
</footer>
