<div class="logo-banner">
    <div class="logo">
        <img src="../../public/images/association_logo.png" alt="Logo de l'association">
    </div>
</div>
<header class="header">
    <nav class="navbar">
        <ul>
            <li><a href="../pages/home.html">Accueil</a></li>
            <li><a href="https://www.paypal.com/donate/?hosted_button_id=VYR4JZ9CBN7XU">Faire Un Don</a></li>
            <li><a href="../pages/about.html">À Propos</a></li>
            <li><a href="../pages/contact.html">Contact</a></li>
        </ul>
    </nav>
</header>

