<div class="logo-banner">
    <div class="logo">
        <img src="../../public/images/association_logo.png" alt="Logo de l'association">
    </div>
</div>
<header class="header">
    <nav class="navbar">
        <ul>
            <li><a href="../../index">Accueil</a></li>
            <li><a id="donation-header" href="../pages/contactl">Faire Un Don</a></li>
            <li><a href="../pages/about">À Propos</a></li>
            <li><a href="../pages/contact">Contact</a></li>
        </ul>
    </nav>
</header>

