<header class="header">
    <div class="logo-and-tagline">
        <div class="logo">
            <img src="../../public/images/association_logo.png" alt="Logo de l'association">
        </div>
        <div class="tagline">
            <p>Tu aimeras toi-même et ton prochain</p>
        </div>
    </div>
    <nav class="navbar">
        <ul>
            <li><a href="../pages/home.html">Accueil</a></li>
            <li><a href="../pages/donation.html">Faire Un Don</a></li>
            <li><a href="../pages/about.html">À Propos</a></li>
            <li><a href="../pages/contact.html">Contact</a></li>
        </ul>
    </nav>
</header>
